@{
    ViewBag.Title = "Pancakes";
}
<h2>@ViewBag.Title.</h2>
<h2>How Many: <span data-bind="text: numPancakes"></span></h2>
<input id="slider1" data-bind="value: numPancakes, valueUpdate:'input'" type="range" min="6" max="600" step="6"/>

@section Scripts {
    <script>
        var viewModel = {
            numPancakes: ko.observable('12')
        };
        ko.applyBindings(viewModel);

    </script>
}